.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.fsproj.user
*.lock.json
project.lock.json
*.nuget.props
*.nuget.targets
packages/
.nuget/
*.log
*.bak
*.swp
*.tmp
dotnet-tools.json
.dotnet/
.fsi-history
.DS_Store
.AppleDouble
.LSOverride
